# Operating System Files
.DS_Store
Thumbs.db
desktop.ini
*.tmp

# Node.js & Tooling
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# IDE & Editors
.vscode/
.idea/
*.swp
*.swo

# Adobe Temporary / Cache Files
.debug.local
*.log
*.zxp.tmp
build/
dist/
release/*.tmp
